<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="stylesheet" href="./css/all.min.css" />
    <link rel="stylesheet" href="./css/app.css" />
    <!-- ICON -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    
    <header class="header">
      <div class="container">
        <div class="header-container">
          <div class="header-logo">
            <img src="../img/logo_white.png" alt="">
          </div>
         <div class="header-main">
          <ul class="header-nav">
            <li class="header-item">
              <a href="#!" class="header-link heading">HOME</a>
            </li>
            <li class="header-item">
              <a href="#!" class="header-link heading">PAGES</a>
            </li>
            <li class="header-item">
              <a href="#!" class="header-link heading">Portfolio</a>
            </li>
            <li class="header-item">
              <a href="#!" class="header-link heading">SLIDERS</a>
            </li>
          </ul>
          <ul class="header-social">
            <li class="logo-social">
              <a href="#!" class="social-link">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="logo-social">
              <a href="#!" class="social-link">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="logo-social">
              <a href="#!" class="social-link">
                <i class="fab fa-yelp"></i>
              </a>
            </li>
            <li class="logo-social">
              <a href="#!" class="social-link">
                <i class="fas fa-search"></i>
              </a>
            </li>
            <li class="logo-social">
              <a href="#!" class="header-phone ">
                234.567.3455
              </a>
            </li>
          </ul>
         </div>
        </div>
      </div>
    </header>

    <main>
      <section class="hero">
        <div class="container">
         <div class="hero-container">
          <div class="hero-content ">
            <h3 class="hero-caption">
              Craft Cofee
            </h3>
            <h2 class="hero-heaing heading">
              COFFEE MAKES US SEVERE AND GRAVE, AND PHILOSOPHICAL
            </h2>
          </div>
          <div class="hero-img">
            <img src="../img/barista-pours-water-from-coffee-pot-into-the-glass-D57H3WU.jpg" alt="">
          </div>
         </div>
        </div>
      </section>
      <section class="share">
        <div class="container share-container">
            <div class="share-content">
              <div class="line"></div>
              <h4 class="share-caption heading">
                COFFEE SHARED WITH A FRIEND IS HAPPINESS
              </h4>
              <div class="share-signature">
                <img src="../img/signature-1-e1592385747477.png" alt="">
              </div>
              <p class="share-position">
                CEO & Founder Craft Coffee
              </p>
            </div>
            <div class="share-background">
              <img src="../img/close-up-of-coffee-machine-in-cafe-PUW782D-768x1152.jpg" alt="">
            </div>
            <div class="share-banner">
              <h4 class="share-title heading">
                COFFEE IS THE BEST THING TO DOUSE THE SUNRISE WITH
              </h4>
              <p class="share-more ">
                Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod.
              </p>
              <a href="#!" class="share-delivery heading">GET DELIVERY</a>
            </div>
        </div>
      </section>
      <section class="banner">
        <div class="banner-overplay"></div>
          <div class="banner-img">
            <div class="banner-top">
              <img src="../img/bg-header-overlay-lg-black-2.png" alt="">
            </div>
            <div class="banner-bottom">
              <img src="../img/bg-header-overlay-lg-black.png" alt="">
            </div>
          </div>
          <div class="banner-content">
              <h4 class="banner-heading">Testimonials from</h4>
              <h2 class="banner-caption heading">
                CUSTOMERS
              </h2>
        </div>
      </section>
      <section class="card">
        <div class="card-list">
          <div class="card-item">
            <p class="card-feedback">
              The creators of the theme are happy with the response and have vowed to create further themes exploring the same concepts
            </p>
            <div class="card-info">
              <img src="../img/portrait-of-european-barista-man-making-coffee-whi-85S9URE-150x150.jpg" alt="">
              <p class="card-name ">
                John Doe
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="about">
        <div class="container about-container">
          <div class="about-content">
            <div class="about-header">
              <div class="line-horizontal"></div>
              <h4 class="about-heading">OUR FOUNDER</h4>
            </div>
            <div class="about-main">
              <p class="about-content">
                Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean vinegar stumptown yr pop-up artisan.
              </p>
              <p class="about-desc">
                Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. 
              </p>
            </div>
          </div>
          <div class="about-img">
            <img src="../img/barista-making-coffee-F2GU6L8.jpg" alt="">
          </div>
        </div>
        <p class="heading about-title">
          DELIGHTFUL EXPERIENCE
        </p>
      </section>
      <section class="menu">
        <div class="img-hand">
        <img src="../img/brewing-coffee-by-an-alternative-method-pouring-gr-D8Z3PC3-1-683x1024.jpg" alt="" >
        </div>
        <div class="img-machine">
          <img src="../img/coffee-PFMG7FM-768x1173.jpg" alt="">
        </div>
        <div class="container menu-container">
          <div class="menu-cup">
            <img src="../img/coffee-bg-1-black-e1592387356571.png" alt="">
          </div>
          <div class="line menu-line"></div>
          <div class="menu-title">
            <h3>Our</h3>
            <h2 class="heading">MENUS</h2>
          </div>
          <div class="menu-main">
            <div class="menu-list">
              <div class="menu-item">
                <div class="menu-logo">
                  <img src="../img/5c515339667943ce84dc56effdf5fc1b_result-150x150.jpg" alt="">
                </div>
                <div class="menu-content">
                  <div class="menu-top">
                    <div class="menu-name">
                      Cafe Americano
                    </div>
                    <div class="menu-line--dot"></div>
                    <div class="menu-price">
                      <span class="sale">$7</span>
                      <span class="normal">$9</span>
                    </div>
                  </div>
                  <div class="menu-desc">
                    Espresso shots topped with hot water
                  </div>
                </div>
                <div class="menu-recipe">
                  <h5 class="h3 recipe-title">
                    Nutrition Information
                  </h5>
                  <div class="recipe-content">
                      <ul>
                        <li><strong>Calories</strong> 480</li>
                        <li><strong>Total Fat</strong> 20g</li>
                        <li><strong>Cholesterol</strong> 60mg</li>
                        <li><strong>Sodium</strong> 220 mg</li>
                        <li><strong>Total Carbohydrates</strong> 71g</li>
                        <li><strong>Protein</strong> 5g</li>
                        <li><strong>Caffeine</strong> 80 mg</li>
                      </ul>
                      <p>* 2,000 calories a day is used for general nutrition advice, but calorie needs vary.</p>
                  </div>
                  <div class="arrow"></div>
                </div>
              </div>
              <div class="menu-item">
                <div class="menu-logo">
                  <img src="../img/ec519dd5642c41629194192cce582135_result-150x150.jpg" alt="">
                </div>
                <div class="menu-content">
                  <div class="menu-top">
                    <div class="menu-name">
                      Cafe Americano
                    </div>
                    <div class="menu-line--dot"></div>
                    <div class="menu-price">
                      <span class="normal">$9</span>
                    </div>
                  </div>
                  <div class="menu-desc">
                    Espresso shots topped with hot water
                  </div>
                </div>
                <div class="menu-recipe">
                  <h5 class="h3 recipe-title">
                    Nutrition Information
                  </h5>
                  <div class="recipe-content">
                      <ul>
                        <li><strong>Calories</strong> 480</li>
                        <li><strong>Total Fat</strong> 20g</li>
                        <li><strong>Cholesterol</strong> 60mg</li>
                        <li><strong>Sodium</strong> 220 mg</li>
                        <li><strong>Total Carbohydrates</strong> 71g</li>
                        <li><strong>Protein</strong> 5g</li>
                        <li><strong>Caffeine</strong> 80 mg</li>
                      </ul>
                      <p>* 2,000 calories a day is used for general nutrition advice, but calorie needs vary.</p>
                  </div>
                  <div class="arrow"></div>
                </div>
              </div>
              <div class="menu-item">
                <div class="menu-logo">
                  <img src="../img/f4ec500b34624242b15c2d29e53f3c48_result-150x150.jpg" alt="">
                </div>
                <div class="menu-content">
                  <div class="menu-top">
                    <div class="menu-name">
                      Cafe Americano
                    </div>
                    <div class="menu-line--dot"></div>
                    <div class="menu-price">
                      <span class="normal">$5</span>
                    </div>
                  </div>
                  <div class="menu-desc">
                    Espresso shots topped with hot water
                  </div>
                </div>
                <div class="menu-recipe">
                  <h5 class="h3 recipe-title">
                    Nutrition Information
                  </h5>
                  <div class="recipe-content">
                      <ul>
                        <li><strong>Calories</strong> 480</li>
                        <li><strong>Total Fat</strong> 20g</li>
                        <li><strong>Cholesterol</strong> 60mg</li>
                        <li><strong>Sodium</strong> 220 mg</li>
                        <li><strong>Total Carbohydrates</strong> 71g</li>
                        <li><strong>Protein</strong> 5g</li>
                        <li><strong>Caffeine</strong> 80 mg</li>
                      </ul>
                      <p>* 2,000 calories a day is used for general nutrition advice, but calorie needs vary.</p>
                  </div>
                  <div class="arrow"></div>
                </div>
              </div>
              <div class="menu-item">
                <div class="menu-logo">
                  <img src="../img/58db701349cb48738069e8c912e2b3ac_result-150x150.jpg" alt="">
                </div>
                <div class="menu-content">
                  <div class="menu-top">
                    <div class="menu-name">
                      Cafe Americano
                    </div>
                    <div class="menu-line--dot"></div>
                    <div class="menu-price">
                      <span class="sale">$6</span>
                      <span class="normal">$7</span>
                    </div>
                  </div>
                  <div class="menu-desc">
                    Espresso shots topped with hot water
                  </div>
                </div>
                <div class="menu-recipe">
                  <h5 class="h3 recipe-title">
                    Nutrition Information
                  </h5>
                  <div class="recipe-content">
                      <ul>
                        <li><strong>Calories</strong> 480</li>
                        <li><strong>Total Fat</strong> 20g</li>
                        <li><strong>Cholesterol</strong> 60mg</li>
                        <li><strong>Sodium</strong> 220 mg</li>
                        <li><strong>Total Carbohydrates</strong> 71g</li>
                        <li><strong>Protein</strong> 5g</li>
                        <li><strong>Caffeine</strong> 80 mg</li>
                      </ul>
                      <p>* 2,000 calories a day is used for general nutrition advice, but calorie needs vary.</p>
                  </div>
                  <div class="arrow"></div>
                </div>
              </div>
              <div class="menu-item">
                <div class="menu-logo">
                  <img src="../img/f4ec500b34624242b15c2d29e53f3c48_result-150x150.jpg" alt="">
                </div>
                <div class="menu-content">
                  <div class="menu-top">
                    <div class="menu-name">
                      Cafe Americano
                    </div>
                    <div class="menu-line--dot"></div>
                    <div class="menu-price">
                      <span class="sale">$7</span>
                      <span class="normal">$9</span>
                    </div>
                  </div>
                  <div class="menu-desc">
                    Espresso shots topped with hot water
                  </div>
                 
                </div>
                <div class="menu-recipe">
                  <h5 class="h3 recipe-title">
                    Nutrition Information
                  </h5>
                  <div class="recipe-content">
                      <ul>
                        <li><strong>Calories</strong> 480</li>
                        <li><strong>Total Fat</strong> 20g</li>
                        <li><strong>Cholesterol</strong> 60mg</li>
                        <li><strong>Sodium</strong> 220 mg</li>
                        <li><strong>Total Carbohydrates</strong> 71g</li>
                        <li><strong>Protein</strong> 5g</li>
                        <li><strong>Caffeine</strong> 80 mg</li>
                      </ul>
                      <p>* 2,000 calories a day is used for general nutrition advice, but calorie needs vary.</p>
                  </div>
                  <div class="arrow"></div>
                </div>
              </div>
            </div>
        </div>
        
      </section>
      <section class="contact">
        <div class="container">
          <div class="contact-main">
            <div class="contact-head">
              <div class="contact-line line-horizontal"></div>
              <h4 class="contact-heading">CONTACT</h4>
            </div>
            <div class="contact-location contact-item">
              <i aria-hidden="true" class="fas fa-map-marked"></i>
              <p class="contact-desc">
                Location Lake House, 13 Hanway, Square, London, England
              </p>
            </div>
            <div class="contact-phone contact-item">
              <i aria-hidden="true" class="fas fa-phone-alt"></i>
              <p class="contact-desc">
                234.567.3455
              </p>
            </div>
            <form action="#" class="contact-form">
             <div class="contact-name">
                <p class="name title">Your Name (required)</p>
                <input type="text" class="contact-input">
             </div>
             <div class="contact-email">
               <p class="email title">
                Your Email (required)
               </p>
               <input type="text" class="contact-input">
             </div>
             <div class="contact-message">
              <p class="message title">
                Your Message
              </p>
              <input type="text" class="message-input contact-input">
            </div>
            </form>
            <a href="#!" class="send-btn">SEND</a>
            <div class="img-take-away">
              <img src="../img/take-away-badge-e1592385633283.png" alt="">
            </div>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d251054.00705900305!2d106.73365574354601!3d10.522795250254353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31753f89f9cd22e5%3A0x9b3c0cf29b5dcb1a!2zQ-G6p24gR2nhu50sIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1635862778249!5m2!1svi!2s"  width="700" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </section>
      <section class="history">
        <div class="history-container">
          <div class="history-content">
            <h2 class="history-heading">
              HISTORY
            </h2>
            <p class="history-desc">
              Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. 
            </p>
            <div class="history-signature">
              <img src="../img/singature_white-e1592385719386.png" alt="">
            </div>
          </div>
          <div class="history-store">
          </div>
          <div class="history-year">
            <img src="../img/since_1997.png" alt="">
          </div>
        </div>
      </section>
    </main>
   <footer class="footer">
     <div class="footer-main">
       <div class="license">
         © CRAFT COFFEEE WORDPRESS THEME BY THEMEGOODS
        </div>
        <div class="author">
          <p>Đình Chương</p>
        </div>
     </div>
   </footer>
  </body>
</html>
<!-- sass ./template/sass/app.scss ./template/css/app.css --watch -->
