// .card{
//     margin-top: 50px;
//     color: #fff;
//     &-list{
//     //    display: flex;
//     //    align-items: center;
//     //    justify-content: center;
//     //    gap: 0 50px;
//     }
//     &-item{
//         margin: 80px 0;
//         width: 100%;
//         max-width: 586.325px;
//         flex-shrink: 0;
//         margin: 0 auto;
//         padding: 40px;
//         box-shadow: 0 35px 60px rgb(0 0 0 / 10%);
//         &.active{
//             background: #1F1E1D;
//             border-color: #1F1E1D;
//             transform: perspective(200px) translateZ(20px);
//         }
//     }
//     &-feedback{
//         color: #FFFFFF;
//         font-size: 18px;
//         line-height: 1.5;
//         text-align: center;
//         margin-bottom: 40px;
//     }
//     &-info{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         gap: 0 10px;
//         font-size: 24px;
//         img{
//             max-width: 40px;
//             border-radius: 50%;
//         }
//     }
//     &-name{
//         font-family: "bebas";
//         font-weight: 800;
//         letter-spacing: 0.8px;
//         line-height: 1.7;
//         text-transform: uppercase;
//     }
// }
// @media screen and (max-width: 735px){
//     .card{
//         &-item{
//             padding: 40px 20px;
//         }
//     }
// }

.card{
    margin-top: 50px;
    color: #fff;
    &-list{
        min-height: 300px;
        position: relative;
    }
    &-item{
        margin: 80px 0;
        width: 100%;
        max-width: 586.325px;
        flex-shrink: 0;
        position: absolute;
        transform: translateX(-50%);
        margin: 0 auto;
        padding: 40px;
        box-shadow: 0 35px 60px rgb(0 0 0 / 10%);
        cursor: pointer;
        transition: 0.5s linear;
        &.active{
            left: 50% !important;
            background: #1F1E1D;
            border-color: #1F1E1D;
            transform: perspective(200px) translate3d(-50%,0, 20px)
        }
    }
    &-feedback{
        color: #FFFFFF;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 40px;
    }
    &-info{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 10px;
        font-size: 24px;
        img{
            max-width: 50px;
            border-radius: 50%;
            object-fit: center;
            object-position: center;
        }
    }
    &-name{
        font-family: "bebas";
        font-weight: 800;
        letter-spacing: 0.8px;
        line-height: 1.7;
        font-size: 25px;
        text-transform: uppercase;
    }
    &-dots{
        margin-top: 50px;
        min-height: 5px;
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        gap: 0 20px;
        span{
            flex-shrink: 0;
            display: block;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            transition: .2s ease-in-out;
            background: rgba(255, 255, 255, 0.2);
            cursor: pointer;
            &.active{
                background-color: #fff;
                width: 20px;
                height: 20px;
            }
        }
    }
}
@media screen and (max-width: 735px){
    .card{
        display: none;
      
    }
}
@media screen and (max-width: 1023px){
    .card{
       &-list{
        transform: translateX(38px);
       }
    }
}