.card{
    margin-top: 50px;
    color: #fff;
    &-item{
        margin: 80px 0;
        width: 100%;
        max-width: 586.325px;
        background: #1F1E1D;
        border-color: #1F1E1D;
        margin: 0 auto;
        padding: 40px;
        box-shadow: 0 35px 60px rgb(0 0 0 / 10%);
        perspective: 1400px;
    }
    &-feedback{
        color: #FFFFFF;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 40px;
    }
    &-info{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 10px;
        font-size: 24px;
        img{
            max-width: 40px;
            border-radius: 50%;
        }
    }
    &-name{
        font-family: "bebas";
        font-weight: 800;
        letter-spacing: 0.8px;
        line-height: 1.7;
        text-transform: uppercase;
    }
}
@media screen and (max-width: 735px){
    .card{
        &-item{
            padding: 40px 20px;
        }
    }
}