.header{
    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-nav{
        display: flex;
        align-items: center;
        gap: 0 40px;
        a{
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
    &-main{
        display: flex;
        align-items: center;
        gap: 0 100px;
    }
    &-social{
        display: flex;
        align-items: center;
        gap: 0 20px;
        a{
            font-size: 20px;
            font-weight: 500;
            color: #fff;
        }
        & .logo-social:nth-child(4){
            margin: 0 20px;
        }
    }
    &-phone{
        padding:  28px 55px;
        background-color: $primary;
        font-size: 25px;
        letter-spacing: 3px;
        font-family: "bebas";
    }
    &-logo{
        width: 110px;
        height: auto;
        position: relative;
    }
    img{
       position: absolute;
       top: -20px;
       left: 0;
    }
}