.hero{
    margin-top: 20px;
    min-height: 700px;
    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
   &-img{
        position: absolute;
        top: 0;
        width: 84%;
        right: 0;
        transform: translateX(11%);
   }
   &-content{
        z-index: 1;
        max-width: 700px;
        transform: translateY(50%);
   }
   &-caption{
        z-index: 1;
        color: $primary;
        font-family: "ark", Sans-serif;
        font-size: 60px;
        letter-spacing: 2px;
        font-weight: 500;
   }
}