.menu{
    margin-top: 250px;
    position: relative;
    color: #fff;
    
    &-line{
        margin: 0 auto;
    }
    &-cup{
        position: absolute;
        width: 230px;
        height: auto;
        top: 0;
        left: -5%;
    }
    &-title{
        margin-top: 50px;
        text-align: center;
        h3{
            font-size: 60px;
            font-family: "ark";
            font-weight: 400;
            color: $primary;
        }
        h2{
            font-size: 100px;
        }
    }
    .img-hand{
        position: absolute;
        top: 10%;
        right: 0px;

        display: flex;
        justify-content: flex-end;

        overflow-x: hidden;
        img{
            transform: translateX(30%);
            width: 55%;

        }
    }
    .img-machine{
        position: absolute;
        top: 60%;
        left: 0;
        overflow-x: hidden; 
        img{
            width: 46%; 
            transform: translateX(-30%);
        }
    }
    &-main{
        margin-top: 100px;
        text-align: center;
        padding: 0 20%;
        h3{
            font-size: 65px;
            font-family: "ark";
            font-weight: 400;
            color: $primary;
        }
        h2{
            font-size: 100px;
        }
    }
    &-logo{
        width: 80px;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
    }
    &-list{
        display: flex;
        flex-direction: column;
    }
    &-item{
        display: flex;
        align-items: center;
        gap: 0 15px;  
        margin-bottom: 30px;      
        position: relative;
        :hover + .menu-recipe{
            opacity: 1;

        }
      
    }
    &-content{
        flex:1;  
        
    }
    &-top{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    &-line--dot{
        flex:1;
        height: 3px;
        border-bottom: 4px dotted #fff;
    }
    &-name{
        font-family: "bebas";
        font-size: 26px;
        padding-right: 5px;
    }
    &-price{
        color: $primary;
        font-size: 22px;
        padding: 0 10px;
        font-weight: 700;
        .sale{
            text-decoration: line-through;
        }
    }
    &-desc{
        margin-top: 10px;
        text-align: left;
    }
    &-recipe{
        position: absolute;
        background-color: #FFFBF2;
        color: #000;
        max-width: 300px;
        padding: 10px 20px 20px;
        text-align: left;
        border-radius: 10px;
        right: 0;
        transform: translateX(100%);
        opacity: 0;
        transition: .2s linear;
        .recipe-title{
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 2px;
            font-family: "Roboto";
            margin-bottom: 10px;
        }
        .recipe-content{
            ul{
                list-style-type: disc;
                list-style-position: inside;
                li{
                    margin-bottom: 10px;
                }
            }
        }
        .arrow{
            content: "";
            height:0px; width:0px; 
            border-right:20px solid #FFFBF2;
            border-top:20px solid transparent;
            border-bottom:20px solid transparent;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-10px,-50%);
        }
    }
}
        
@media screen and (max-width: 1023px){
    .menu{
        margin-top: 100px;
        .img-hand{
            width: 50%;
        }
        .img-machine{
            width: 60%;
            bottom: 0;
            top: unset;
            left: 0;
        }
    }
}
@media screen and (max-width: 735px){
    .menu{
        margin-top: 70px;
        .img-hand,.img-machine,&-cup{
            display: none;
        }
        &-line{
            height: 100px;
            width: 2px;
        }
        &-name,&-price{
            font-size: 20px;
        }
        &-content{
            margin-top: 20px;
            line-height: 1.5;
        }
        &-main{
            margin-top: 50px;
            padding: 0;
        }
        &-line--dot,&-recipe{
            display: none;
        }
        &-top{
            flex-direction: column;
        }

        
    }
}