.share{
    margin-top: 150px;
    &.active{
        .line{
            opacity: 1;
            transform: scale(1);
        }
        .share-position{
            opacity: 1;
        }
        .share-background{
            height: 150%;
        }

    }
    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        position: relative;
    }
    &-caption{
        font-size: 55px;
        max-width: 300px;
        line-height: 1.2;
    }
    &-signature{
        margin: 20px 0;
        width: 250px;
        opacity: 1;
        filter: brightness( 0% ) contrast( 0% ) saturate( 100% ) blur( 0px) hue-rotate( 0deg );
    }
    &-position{
        color: #FFFFFF;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 4px;
        opacity: 0;
        transition: 0.6s linear;
        transition-delay: 1.5s;

    }
    &-banner{
        background-color: $primary;
        width: 41.332%;
        padding: 80px 50px;
        animation: updown 5s infinite;
    }
    &-title{
        color: #FFFFFF;
        font-size: 40px;
    }
    &-more{
        padding: 30px 0;
        line-height: 1.8;
        color: rgba(255, 255, 255, 0.7215686274509804);
    }
    &-delivery{
        padding: 20px 40px;
        text-decoration: none;
        color: #fff;
        font-size: 24px;
        background-color: $dark;
        display: inline-block;
        letter-spacing: 2px;
    }
    &-background{
        position: absolute;
        z-index: -1;
        width: 40%;
        left: 50%;
        top: -50px;
        height: 0px;
        transform: translateX(-50%);
        transition: 0.8s ease-in-out;
        overflow: hidden;
       
    }
    .line{
        transform: scale(0.4);
        opacity: 0;
        transform-origin: center center;
        transition: .6s ease-in;
        transition-delay: 0.7s;
       
    }
}
@media screen and (max-width: 735px){
    .share{
        margin-top: 40px;
        &-container{
            flex-direction: column;
        }
        &-background{
            position: relative;
            width: 100%;
            margin-top: 100px;
        }
        &-caption{
            font-size: 40px;
        }
        .line{
            width: 200px;
            height: 2px;
            margin: 50px auto;
        }
        &-banner{
            width: 100%;
        }
    }
}
@media screen and (max-width: 1023px){
    .share{
        &-banner{
            width: 100%;
            animation: none;
        }
    }
}

