.share{
    margin-top: 80px;
    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        position: relative;
    }
    &-caption{
        font-size: 55px;
        max-width: 300px;
        line-height: 1.2;
    }
    &-signature{
        margin: 20px 0;
        width: 250px;
        opacity: 1;
        filter: brightness( 0% ) contrast( 0% ) saturate( 100% ) blur( 0px) hue-rotate( 0deg );
    }
    &-position{
        color: #FFFFFF;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    &-banner{
        background-color: $primary;
        width: 41.332%;
        padding: 80px 50px;
    }
    &-title{
        color: #FFFFFF;
        font-size: 40px;
    }
    &-more{
        padding: 30px 0;
        line-height: 1.8;
        color: rgba(255, 255, 255, 0.7215686274509804);
    }
    &-delivery{
        padding: 20px 40px;
        text-decoration: none;
        color: #fff;
        font-size: 24px;
        background-color: $dark;
        display: inline-block;
        letter-spacing: 2px;
    }
    &-background{
        position: absolute;
        z-index: -1;
        width: 470px;
        width: 40%;
        left: 50%;
        top: -50px;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 735px){
    .share{
        margin-top: 40px;
        &-container{
            flex-direction: column;
        }
        &-background{
            position: relative;
            width: 100%;
            margin-top: 100px;
        }
        &-caption{
            font-size: 40px;
        }
        .line{
            width: 200px;
            height: 2px;
            margin: 50px auto;
        }
        &-banner{
            width: 100%;
        }
    }
}